<!DOCTYPE html>
<html>
  <head>
<title>Will Bamberg - Resume</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" />
  </head>
  <body>
    <h1 id="will-bamberg">Will Bamberg</h1>

    <ul class="contact">
      <li><a href="mailto:wbamberg@fastmail.com">wbamberg@fastmail.com</a></li>
      <li><a href="https://github.com/wbamberg">github.com/wbamberg</a></li>
    </ul>

    <h2 id="summary">Summary</h2>

    <p>
      Technical writer and documentation engineer specializing in developer
      documentation.
    </p>

    <p>
      I'm technically proficient and not afraid to dive into new software
      systems, analyze their documentation needs and address them. I follow good
      practices for developing and maintaining documentation systems, such as
      user testing, linting, version control, and continuous integration. I can
      invent and execute innovative solutions to documentation problems. I have
      10 years experience working remotely across 9 timezones.
    </p>

    <h2 id="skills">Skills</h2>

    <ul>
      <li>Front-end web developer technologies: HTML, CSS, JavaScript</li>
      <li>
        Documentation tools: Markdown, Python, Node, ESLint, JSON, YAML, Git,
        GitHub
      </li>
    </ul>

    <h2 id="employment">Employment</h2>

    <h3 id="mozilla-technical-writer-2010-2020">
      <span>Mozilla: Technical writer</span> <span>2010-2020</span>
    </h3>
      <p>
        Technical writer working on
        <a href="https://developer.mozilla.org">MDN Web Docs</a>.
      </p>

      <h4 id="mdn-docs-structure-and-linting-2019-2020">
        MDN docs structure and linting, 2019-2020
      </h4>

      <p>
        Led a project to improve the consistency and correctness of MDN
        reference documentation. In collaboration with others:
      </p>

      <ul>
        <li>
          defined structures for MDN’s JavaScript and CSS reference
          documentation pages
        </li>
        <li>implemented a linter to check pages against structures</li>
        <li>fixed thousands of linter errors.</li>
      </ul>

      <h4 id="mdn-interactive-examples-2017-2019">
        MDN interactive examples, 2017-2019
      </h4>

      <p>
        Led a project to add
        <a
          href="https://hacks.mozilla.org/2018/03/bringing-interactive-examples-to-mdn/"
          >interactive examples</a
        >
        to MDN’s JavaScript, CSS, and HTML reference documentation.
      </p>

      <ul>
        <li>
          Collaborated with user testing, UX, developers, and technical writers
          to add illustrative and beautiful interactive examples to MDN’s most
          popular pages.
        </li>
        <li>
          Continued to support the project by reviewing pull requests and
          mentoring community contributions.
        </li>
      </ul>

      <h4 id="firefox-webextensions-2015-2017">
        Firefox WebExtensions, 2015-2017
      </h4>

      <p>
        Designed and created
        <a
          href="https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions"
          >documentation for the new Firefox extensions technology</a
        >, including:
      </p>

      <ul>
        <li>complete reference documentation for the JavaScript APIs</li>
        <li>
          <a href="https://github.com/mdn/webextensions-examples"
            >dozens of example add-ons</a
          >
        </li>
        <li>an innovative way to represent browser support using JSON data.</li>
      </ul>

      <h4 id="firefox-developer-tools-2013-2016">
        Firefox Developer Tools, 2013-2016
      </h4>

      <p>
        Created and maintained documentation for the
        <a href="https://developer.mozilla.org/en-US/docs/Tools"
          >Firefox developer tools</a
        >, including tutorials, how-to guides, screenshots, screencasts, and
        example code.
      </p>

      <h4 id="firefox-add-on-sdk-2010-2013">Firefox Add-on SDK, 2010-2013</h4>

      <p>
        Designed and created documentation and documentation system for the
        Firefox Add-on SDK.
      </p>
    <h3 id="mobidia-system-architect-2009-2010">
      <span>Mobidia: System Architect</span> <span>2009-2010</span>
    </h3>

    <p>
      Research into network optimization techniques and communications protocol
      design.
    </p>
    <h3 id="intrinsyc-software-inc-team-lead--architect-2006-2009">
      <span>Intrinsyc Software: Team Lead</span> <span>2006-2009</span>
    </h3>

    <p>
      Managed a team of 8-12 engineers including responsibility for training,
      mentoring and individual performance.
    </p>

    <p>
      Worked as Text &amp; Internationalization Architect for Symbian Ltd.
      Created high level design for major upgrade to the core Unicode support
      and redesign of the localization components to simplify variant creation.
    </p>

    <h3 id="nokia-mobile-phones-telephony-architect-2003-2005">
      <span>Nokia Mobile Phones: Telephony Architect</span>
      <span>2003-2005</span>
    </h3>

    <p>
      Developed design for a modular, layered telephony adaptation architecture
      to reduce licensee development costs and support feature variability.
      Refactored code base to improve code quality and reduce code size.
    </p>

    <h3
      id="october-1997-august-2003-symbian-ltd-security-architect--software-engineer"
    >
      <span> Symbian: Software Engineer</span> <span>1997-2003</span>
    </h3>

    <p>
      Requirements capture and analysis in collaboration with customers
      including security policy framework for platform security and DRM
      requirements analysis.
    </p>

    <p>
      Architecture and design work: cryptographic token framework, cryptography
      library, file encryption API, key management module.
    </p>

    <p>
      Development of Symbian OS middleware and security components: smart card
      server, OCSP client, TLS client, X.509 certificate management components.
    </p>

    <h2 id="education">Education</h2>

    <p>
      1994-1995: Middlesex University: Postgraduate Diploma, Knowledge
      Engineering
    </p>

    <p>
      1991-1994: Keble College, Oxford University: B.A., Politics and Philosophy
      (First Class Honours)
    </p>
  </body>
</html>
